.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // width: 450px;
  background-color: #ca0a0a;
  margin-top: 40px;
  border-radius: 15px;
  padding: 0 20px;
}

.appHeader {
  background-color: #13a84c;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  font-size: 20px;
  color: white;
  border-radius: 15px;
}

.appLink {
  color: #61dafb;
}
